.page-title {
	display: block !important;
	text-align: center;
	font-size: 2rem;
	margin-top: 10px;
}

.form-container {
	width: 400px;
	margin: auto;
}
.menu-bar {
	display: flex !important;
	margin: auto;
	align-items: center;
}

.user-title {
	display: block !important;
	color:teal;
	margin-left: 10px;
	font-size: 1.3rem;
	font-weight: bolder;
}

